<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PWMIS.EnterpriseFramework.Service.Client" publicKeyToken="82fad09ee75ff39d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.12.19" newVersion="1.1.12.19" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>