<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="PDF.NET.EnterpriseFramework" version="1.0.4" targetFramework="net451" />
  <package id="PDF.Net.MSF.Client" version="1.0.3" targetFramework="net451" />
  <package id="PDF.Net.MSF.Server.Group" version="1.0.2" targetFramework="net451" />
  <package id="PDF.Net.MSF.Service" version="1.0.3" targetFramework="net451" />
  <package id="PDF.Net.MSF.Service.Host" version="1.0.4" targetFramework="net451" />
</packages>